.container-game {
  margin: 0 auto;
  display: flex;
  height: 100%;
  overflow-x: hidden;
  width: fit-content;
  block-size: fit-content;
}

.decks-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  min-height: 41.4vmax;
}

.game-area {
  animation: fadeIn 2s forwards;
}

.card-backwards {
  width: 24vmax;
  left: -13vmax;
  margin-bottom: -7vmax;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  border-radius: 1rem;
}

.card-backwards-opponent {
  width: 24vmax;
  right: -13vmax;
  margin-bottom: -7vmax;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  transform: rotateY(180deg);
  border-radius: 1rem;
}

.container-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-card-opponent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.revealed-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 7vmax;
  left: 18vmax;

}

.revealed-cards-opponent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 7vmax;
  right: 18vmax;
}

.box-attribute-list {
  position: relative;
  display: flex;
  border: none;
  font-family: 'Aleo';
  margin: 0.3rem;
  height: 5rem;
  width: 5rem;
  background-color: transparent;
  background-image: url('../../assets/support_material/tag.png');
  background-size:5rem; /* ajuste ao seu gosto */
  background-repeat: no-repeat; /* ajuste ao seu gosto */
}

.selected-button-hidden{
  opacity: 0;
}
.selected-button {
  align-self: center;
  width: 70%;
  height: 2rem;
  margin: 0.5rem;
  background-color: var(--gold);
  border: solid 4px var(--dark-gold);
  font-family: 'Aleo';
  border-radius: 0.5rem;
  color: var(--darker-gold);
  font-weight: bold;
}

.selected-card {
  border-left: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
}

.card-flip {
  animation: flip 0.5s ease-in-out;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
}

.selected-card-attributes-container {
  display: flex;
  flex-direction: row;
}

.container-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 3rem auto;
}

.box-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
}

.dialog-options{
  width: 50vmax;
}

.button-options{
  width: 10vmax;
  margin: 0.5rem;
  height: 2.5vmax;
  border: none;
  border-radius: 5px;
}

.box-rules {
  align-items: center;
  width: 40vmax;
  display: flex;
  flex-direction: column;
  position: absolute;
  color: var(--white);
}

.box-back{
  display: flex;
  align-self: self-start;
}

.winner-announcement{
  margin: auto;
  color: var(--white);
  text-align: center;
}
/* -------------------------------------------- Animations ---------------------------------------------- */
@keyframes flip {
  0% {
    transform: rotateY(90deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}