.tales-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    animation: fadeIn 2s forwards;
}

.earth-adventure {
    align-self: flex-start;
    margin: 3rem;
}

.moon-sun-love-story {
    align-self: flex-end;
    margin: 3rem;
}