.language-dropdown {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--white);
}
.language-dropdown:focus {
   background-color: var(--darker-sky-blue);
   outline: none;
   border: none;
}
.language-dropdown-options{
    outline: solid 1px var(--darker-sky-blue);
    padding: 0.5rem;
    color: var(--white);
}
.button-text {
    font-size: 13px;
}