.language-switch button.selected {
    font-weight: bold;
}
.language-switch button {
   font-size: 100%;
   background-color: transparent;
   border-left: solid 2.5px rgba(67, 109, 148, 0.418);
   border-top: 0;
   color: var(--white);
   border-bottom: 0;
   border-right: 0;
}

.language-switch button:hover{
    color: darkolivegreen;
}

@media (max-width: 480px) {
    .language-switch button {
        font-size: 80%;
     }
}