.constellation-container {
    height: 65vh;
    text-align: center;

}

.constellation-stars {
    position: relative;
    cursor: pointer;
}

.constellation-info {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.constellation-name-box {
    opacity: 0;
    background-image: url('../../../assets/support_material/name-holder.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 2.5rem;
    margin: auto;
    transition: opacity 0.3s;
}

.constellation-name {
    transform: translateY(0.7rem);
}

.constellation-container:hover .constellation-name-box {
    opacity: 1;
}

.constellation-name-box.show {
    opacity: 1;
}

.orion {
    height: 27vmax;
}

.constellation-revealed-tale {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 15%;
    left: 13%;
    width: 45vmax;
    animation: fadeIn 2s forwards;
}

.teste {
    position: relative;
}

.constellation-tale {
    position: relative;
}

.constellation-tale-section {
    text-align: justify;

}

.constellation-tale-section-space {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.constellation-buttons {

    display: flex;
    justify-content: space-between;
}

.constellation-holder-image {
    height: 33vmax;
}

.glowing-effect {
    position: absolute;
    width: 0.5vmax;
    height: 0.5vmax;
    border-radius: 50%;
    animation: glow 2.5s infinite;
}

.star-orion-1 {
    left: 12%;
    top: 5.5%;
}

.star-orion-2 {
    left: 36%;
    top: 40%;
}

.star-orion-3 {
    right: 37%;
    bottom: 33%;
}

.star-orion-4 {
    right: 35.6%;
    top: 35%;
}

.star-orion-5 {
    right: 5.6%;
    bottom: 21%;
}

.star-orion-6 {
    right: 10.3%;
    top: 15.5%;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px var(--white);
    }

    50% {
        box-shadow: 0 0 25px 5px var(--white);
    }

    100% {
        box-shadow: 0 0 5px var(--white);
    }
}