.scorpio {
    height: 21vmax;
}



.scorpio-constellation-revealed-tale {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 100%;
    left: 13%;
    width: 45vmax;
    animation: fadeIn 2s forwards;
}

.star-scorpio-1 {
    left: 12.7%;
    bottom: 45%;
}

.star-scorpio-2 {
    left: 30%;
    bottom: 14.8%;
}

.star-scorpio-3 {
    right: 44.9%;
    top: 29.5%;
}

.star-scorpio-4 {
    right: 20%;
    top: 33%;
}

.star-scorpio-5 {
    right: 15%;
    top: 17%;
}

.star-scorpio-6 {
    right: 17%;
    top: 2%;
}

