body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--sky-blue);
  overflow: hidden; /* Para esconder as estrelas que saem da tela */
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('./assets/stars.png'); /* Substitua 'stars.png' com o caminho da sua imagem de estrelas */
  animation: moveStars 50s linear infinite;
}

:root {
  --white: #E8E8E8;
  --star-blue: #AAE1F8;
  --sky-blue: #10475F;
  --darker-sky-blue: #0c3647;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:  #e8e8e83f; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:var(--darker-sky-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  #08232e; 
}
