/* styles.css */
.container-splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../../assets/support_material/starry_sky.png");
    background-color: var(--darker-sky-blue);
    background-size: cover;
    background-blend-mode:soft-light;
    animation: fadeOut 10s forwards; 
  }
  
  .splash img {
    width: 100px;
  }
  .container-disclaimer{
   width: 40%;
    text-align: center;
    color: var(--white);

  }
  @keyframes fadeOut {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }

  