.container-planetary {
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88vh;
    overflow: hidden;
    animation: fadeIn 2s forwards;
}

.sun {
    cursor: pointer;
    position: relative;
    width: 4vmax;
    animation: sun 10s linear infinite;
}

.circle {
    position: absolute;
    border: 1px solid var(--white);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    animation: orbit 10s linear infinite;
}

.planet {
    background-position: center center;
    position: absolute;
    top: 60%;
    cursor: pointer;
    width: 2vmax;
    left: 100%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.venus {
    cursor: pointer;
    background-position: center center;
    position: absolute;
    top: 60%;
    z-index: 3;
    width: 1.6vmax;
    left: 100%;
    transform: translate(-50%, -50%);
}

.mercury {
    cursor: pointer;
    background-position: center center;
    position: absolute;
    top: 60%;
    z-index: 3;
    width: 1.4vmax;
    left: 100%;
    transform: translate(-50%, -50%);
}

.earth {
    cursor: pointer;
    background-position: center center;
    position: absolute;
    top: 60%;
    z-index: 3;
    width: 1.7vmax;
    left: 100%;
    transform: translate(-50%, -50%);
}

.moon {
    cursor: pointer;
    background-position: center center;
    position: absolute;
    top: 60%;
    width: 0.8vmax;
    left: 110%;
    transform: translate(-50%, -50%);
    animation: moonOrbit 10s linear infinite;
}

.modal-planets {
    display: flex;
    margin: 0 auto;
    max-width: 70vmax;
    border: 4px solid blue;
}

.character-illustration {
    height: 45vmax;
}

.character-illustration-small {
    height: 42vmax;
    /* border: 4px solid blue; */
}

.character-illustration-smaller {
    height: 15vmax;
}
.box-character-infos {
    height: auto; 
    border: 4px solid rgb(255, 0, 212);
}
@media screen and (max-width: 600px) {
    .modal-planets {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        max-width: 60vmax;
        border: 4px solid rgb(255, 0, 0);
    }

    .container-character-illustration-small {
        width: 29vmax;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        border: 4px solid rgb(30, 255, 0);
        
    }
    .info-holder {
        width: 42vmax !important;
        height: 42vmax  !important;
        margin: 4vmax auto;
        border: 4px solid blue;
    }

    .character-infos {
        position: absolute;
        top: 5.5vmax;
        width: 58% !important;
        margin: 8vmax;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 2;
        overflow: auto; 
        border: 4px solid rgb(255, 0, 0);
    }
    .character-atribute{
        margin: 5px;
        font-size: small;
        color: var(--white);
        border: 4px solid blue;
    }
  }

.info-holder {
    width: 35vmax;
    height: 35vmax;
    margin: 4vmax auto;
    /* border: 4px solid blue; */
}

.character-infos {
    position: absolute;
    top: 5.5vmax;
    width: 55%;
    margin: 8vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    overflow: auto; 
}

.character-atribute{
    margin: 5px;
    color: var(--white);
    border: 4px solid blue;
}

.container-character-illustration-small {
    width: 29vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-character-illustration {
    align-items: center;
}

.container-character-infos {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.close-modal-button {
    background-color: var(--darker-sky-blue);
    border:none;
    color: var(--white);
    padding: 1rem;
    width: 10vmax;
    border-radius: 0.5rem;
}

/* --------------------------------------------- Orbits ----------------------------------------------- */
.orbit1 {
    width: 6vmax;
    height: 6vmax;
    animation-duration: 6s;
}

.orbit2 {
    width: 10vmax;
    height: 10vmax;
    animation-duration: 30s;
}

.orbit3 {
    width: 14vmax;
    height: 14vmax;
    animation-duration: 45s;
}

.orbit4 {
    width: 18vmax;
    height: 18vmax;
    animation-duration: 24s;
}

.orbit5 {
    width: 22vmax;
    height: 22vmax;
    animation-duration: 30s;
}

.orbit6 {
    width: 26vmax;
    height: 26vmax;
    animation-duration: 23s;
}

.orbit7 {
    width: 30vmax;
    height: 30vmax;
    animation-duration: 28s;
}

.orbit8 {
    width: 34vmax;
    height: 34vmax;
    animation-duration: 32s;
}

.orbit9 {
    width: 38vmax;
    height: 38vmax;
    animation-duration: 39s;
}

/* -------------------------------------------- Animations ---------------------------------------------- */
@keyframes moonOrbit {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes sun {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes orbit {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}