.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    text-align: center;
}

.card-name{
    margin: 0.3vmax;
}

.card-info-container {
    text-align: center;
    position: absolute;
    bottom: 0;
}

.card-content-container {
    display: flex;
    gap: 5px; 
    align-items:center; 
    flex-direction: row;
}

.card-content {
    flex-direction: column;
    font-size: 1vmax;
}

.card-image {
    width: 20vmax;
}

