@font-face {
  font-family: 'Aleo';
  src: local('Aleo'), url('./fonts/Aleo/static/Aleo-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Aleo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--sky-blue);
  background-image: url("./assets/support_material/starry_sky.png");
  background-repeat: repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  animation: moveBackground 50s infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100px 0;
    /* Ajuste os valores de posição conforme necessário */
  }

  100% {
    background-position: 0 0;
    /* Ajuste os valores de posição conforme necessário */
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --white: #E8E8E8;
  --star-blue: #AAE1F8;
  --sky-blue: #10475F;
  --darker-sky-blue: #0c3647;
  --darkest-sky-blue: #092E3D;
  --blue: rgb(162, 201, 216);
  --gold: #BB9347;
  --dark-gold: #b07a3e;
  --darker-gold: #8b5123;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e8e8e83f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--darker-sky-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #08232e;
}

button{
  cursor: pointer;
}